<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>442552820721-sb69imh8fdahstmjp2rfibdetij9auec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442552820721-sb69imh8fdahstmjp2rfibdetij9auec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442552820721-8mc9d205kqhr1a57m32h9fnnuq2eosal.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpkQxzKyltKIjykjpLa-PvhnCwHhkOCd0</string>
	<key>GCM_SENDER_ID</key>
	<string>442552820721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangogames.kingsadventure.dev</string>
	<key>PROJECT_ID</key>
	<string>kingsadventure-72926297</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsadventure-72926297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442552820721:ios:e75b69e96dbcbffe</string>
	<key>DATABASE_URL</key>
	<string>https://kingsadventure-72926297.firebaseio.com</string>
</dict>
</plist>