<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>131417464921-91eg907hk2pjk610gp7b9bdgcqvmu4en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131417464921-91eg907hk2pjk610gp7b9bdgcqvmu4en</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131417464921-57s4ha60a1efo8d8qd7qhahhpee3fbla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWVitb_dis3mBvdY-0DlRjM_oTUxpKLKk</string>
	<key>GCM_SENDER_ID</key>
	<string>131417464921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangogames.kingsadventure.dev</string>
	<key>PROJECT_ID</key>
	<string>kingsadventure-development</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsadventure-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131417464921:ios:e75b69e96dbcbffe</string>
	<key>DATABASE_URL</key>
	<string>https://kingsadventure-development.firebaseio.com</string>
</dict>
</plist>