<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878418327631-ecs8c2bl87a9hnfq0667kdoevkqj116f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878418327631-ecs8c2bl87a9hnfq0667kdoevkqj116f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878418327631-3r41d426kofemf1n1kq81k2p3dqnjrtm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt7vMAT3Nf_d-RAbp4fh9OeX2jYI7QPwg</string>
	<key>GCM_SENDER_ID</key>
	<string>878418327631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangogames.kingsadventure.dev</string>
	<key>PROJECT_ID</key>
	<string>kings-adventure-22251209</string>
	<key>STORAGE_BUCKET</key>
	<string>kings-adventure-22251209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878418327631:ios:e75b69e96dbcbffe</string>
	<key>DATABASE_URL</key>
	<string>https://kings-adventure-22251209.firebaseio.com</string>
</dict>
</plist>